body {
    font-family: "Source Sans Pro";
}
header{
    background: black;
    display: flex;
    color: white;
    align-items: baseline;
    justify-content: space-between;
}
.button{
    color: white;
    padding-right: 20px;
}
.about{
    background: url('IMG_3137');
}
h1{
    font-family: "Merriweather", serif;
    background: black;
    color: white;
}

h2 {
    font-family: "Merriweather";
    background: black;  
    text-align: center;
    color: white;
}
h3{
    font-family: "Merriweather", serif;
    font-size: 25px;
} 

.about{
    background-image: url("../img/coworking.jpg");
    padding:50px;
}
.work{
    background:rgba(255,255,255, 0.8);
    padding:50px;
}

.contact{
    padding:50px;
}

footer{
    background: black;
    color: white;    
    padding: 1px;
    position: absolute;
    bottom: 0px;
    width: 100%;
}