body {
    background: #c8deec;
}
h5{
    color:#887;
}
h1{
    font-family:"Courier New";
}
h3{
    font-family:"Courier New";
}
h4{
    font-family:"Courier New";
}
h2{
    font-family:"Century Gothic";
}
a {
    font-weight: bold;
  }
body{
    font-family: Helvetica Neue; 
}
img {
    border: solid;
}