.container {
  width: 100%;
  margin: 0 auto;
}

header {
  background-color: yellow;
  padding: 10px 25px;
  display: flex;
  justify-content: space-between;
}

header h1 {
  font-size: 30px;
}

header nav {
  margin-top: 6px;
}

header nav a {
  color: black;
  text-decoration: none;
  font-size: 20px;
  margin-left: 20px;
}

section {
  background-color: black;
  box-sizing: border-box;
  display: flex;
  padding: 1%;
}

article {
  background-color: white;
  /* we will talk about flex-shrink and flex-grow next! */
  flex-shrink: 1;
  flex-grow: 1;
  padding: 1%;
  width: 47%;
}

/* targets the 1st article; nth-child(2) would target the 2nd article*/
article:nth-child(1) {
  margin-right: 1%;
  /* border-right: 10px solid black; */
}

article:nth-child(2) {
  margin-left: 1%;
  /* border-left: 10px solid black; */
}

article h1 {
  font-size: 20px;
  text-align: center;
  padding: 5px 0;
}

@media (max-width: 768px){
  section, header {
    display: block;
}
article:nth-child(1){
  border-right:none;
  border-bottom: 5px solid black;
  width: 100%;
}
article:nth-child(2){
  border-left:none;
  width: 100%;
}
header h1,
header nav{
  text-align: center;
}}
